* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #1a0706;
  overflow-x: hidden;
}

.header {
  height: 74px;
  width: 100%;
  background-color: rgba(61, 61, 61, 0.421);
  display: flex;
  align-items: center;
  box-shadow:
    rgb(60, 64, 67) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.logo {
  color: white;
  height: 35px;
  width: 60px;
  font-size: 25px;
  margin-left: 20px;
}

.folio {
  color: red;
}

.navbar {
  display: flex;
  margin-left: 400px;
  color: white;
  height: 20px;
  align-items: center;
}

.navbar a {
  color: #d6e0e3e7;
  text-decoration: none;
  padding: 20px;
}

.navbar a:hover {
  color: red;
  border: 2px solid red;
  border-top: none;
  border-left: none;
  border-right: none;
}

.btn {
  background-color: red;
  color: white;
  border-radius: 15px;
  height: 40px;
  width: 100px;
  margin-left: 380px;
}

.h2 {
  font-size: 50px;
  color: white;
  margin-top: 120px;
  margin-left: 400px;
  margin-bottom: 70px;
}


/* Card secion  */
.section3 {
  padding: 20px 10%;
  background-color: #0F0202;
}

.h2 {
  color: white;
  margin-left: 350px;

  font-size: 36px;
  margin-bottom: 80px;
}


/* CARDS */

.CARDS {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 45px;

  max-width: 1300px;
  margin: auto;
}


/* SINGLE CARD */

.carda {
  background: white;

  min-height: 275px;

  border-radius: 10px;

  text-align: center;

  padding: 60px 35px 35px;

  position: relative;
}

.carda:hover {
  transform: translate(0cm, 0.3cm);
  transition: 0.5s;
}


/* TOP CIRCLE */

.topa {
  width: 70px;
  height: 70px;

  background: white;

  border-radius: 50%;

  position: absolute;

  top: -32px;
  left: 50%;

  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


/* CARD TITLE */

.carda h3 {
  font-size: 22px;

  margin-bottom: 15px;

  color: #111;
}


/* CARD TEXT */

.carda p {
  color: #666;

  font-size: 15px;

  line-height: 1.6;

  margin-bottom: 25px;
}


/* CARD BUTTON */

.btnn {
  background: #ff3030;

  color: white;

  border: none;

  padding: 13px 28px;

  border-radius: 30px;

  font-size: 14px;

  cursor: pointer;
}

.btnn:hover {
  background: #d90000;
}

.card2 {
  margin-top: 60px;
}

/* tools  icon conatiner */

.section2 {
  background-color: #111111;
  height: 686px;
  width: 1521px;
}

.text p {
  color: red;
  word-spacing: 5px;

}

.text {
  padding-top: 120px;
  text-align: center;
  font-size: 22px;
}

.text h2 {
  color: white;
  font-size: 60px;
  margin-top: 30px;
}

.icons {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: center;


}

.icona {
  background-color: white;
  height: 130px;
  width: 120px;
  margin-top: 80px;
  border-radius: 15px;
  padding-top: 33px;
  text-align: center;
}

.icona img {
  height: 38px;
  width: 38px;
}

.textbold {
  font-weight: bolder;
}

.iconsb {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: center;
  padding-bottom: 80px;


}

.iconb {
  background-color: white;
  height: 130px;
  width: 120px;
  margin-top: 30px;
  border-radius: 15px;
  padding-top: 33px;
  text-align: center;

}

.iconb img {
  height: 38px;
  width: 38px;
}

.iconb:hover,
.icona:hover {
  transform: translate(0cm, 0.5cm);
  transition: 1s;
}
                    /* section1 mainpage */
.mainpage {
  height: 373px;
  width: 1445;
  margin-top: 138px;
  margin-left: 60px;
  margin-right: 38px;
  padding-top: 15px;
  display: flex;

}

.mainpage p {
  font-size: 22px;
  color: red;
}

.introcontent h1 {
  font-size: 75px;
  color: white;
}

.introcontent {
  height: 250px;
  width: 773px;
}

.intro button {
  background-color: red;
  color: white;
  border-radius: 30px;
  height: 60px;
  width: 150px;
  margin-left: 40px;
  font-size: 20px;
  border-style: none;
}

.intro button:hover {
  border: 2px solid yellowgreen;
  color: black;
}

.introcontent p {
  padding-top: 50px;
  font-size: 25px;
  color: white;
}

.intropic img {
  height: 320px;
  margin-top: 10px;
  margin-left: 50px;
}

.introcontent span {
  color: red;
  margin-left: 10px
}

/* section4  footer*/

footer{
  height:772PX;
  width: 1521px;
  background-color: #111111;
  padding: 120px;
  padding-left: 150px;
}
footer .container{
  height: 532px;
  width: 1100px;
  display: flex;
  
}
footer .content1{
  height: 532px;
  width: 520px;
}
footer .content1 h2{
  font-size: 49px;
  color: white;
  }
  footer .content1 p{
  font-size:18px;
  color: white;
  margin-top: 20px;
  }

  footer .contact{
    height: 114px;
    width: 520px;
    border-radius: 15px;
padding:20px;
margin-top: 10px;
font-size: 20px;
display: flex;
color: white;
    background-color:#1e1d1d;
 }

 footer .contact:hover{
border-left:5px solid red;
transform: translate(1cm);
}
  .contactdiv{
    margin-top: 30px;
  }

  footer .content2{
    height: 532px;
    width: 520px;
    padding: 20px;
    margin-left: 40PX;
  }
 
  .content2 input{
    height:46px;
    width: 520px;
    border-radius: 5px;
    margin-top: 20px;
    padding-left:10px;
    border-style: none;
        background-color:#1e1d1d;


  
  }
  .inputa input{
    height:120px;
    width: 520px;
    padding-bottom:90px;
    font-size: 20px;
        background-color:#1e1d1d;

    color: white;
  }
  .container button{
    border-radius:30px;
height: 41px;
width: 520px;
background-color: red;
color:white;
margin-top: 20px;
border-style: none;
  }